* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f4f6fb;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 380px;
    background: white;
    padding: 40px 35px;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.08);
    text-align: center;
}

.icon-circle {
    width: 70px;
    height: 70px;
    background: #dee6ce;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 18px;
    font-size: 30px;
}
.icon-circle i {
    color: #2600ff;
    font-size: 30px;
}

.login-card h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 25px;
}

.login-card input {
    width: 100%;
    padding: 12px;
    background: #f3f3f3;
    border: none;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
}

.remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 25px;
}

.remember a {
    text-decoration: none;
    color: #2600ff;
}

.btn {
    width: 100%;
    padding: 13px;
    background: #2600ff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}
